/* general styles */

:root {
	/* hint the Browser: we style "light" and "dark" color schemes */
	color-scheme: dark light;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* value Canvas means: use browsers default background color, influenced by UI theme */
	background-color: Canvas;
	/* value CanvasText means: use browsers default text color (similar to Canvas value) */
	color: CanvasText;
	font-size: 24px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode",
		"Lucida Grande", "Lucida Sans", Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 20px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #112;
	}
}

/* heading */

h1 {
	margin: 30px 0px;
}

/* board */

#board {
	--size: 5;
	display: grid;
	width: min(90vw, 400px);
	height: min(90vw, 400px);
	grid-template-columns: repeat(var(--size), 1fr);
	grid-template-rows: repeat(var(--size), 1fr);
	gap: calc(20% / var(--size));
	margin: 50px 0px;
}

/* checkboxes */

input[type="checkbox"] {
	appearance: none;
	border-radius: 5px;
	transition: background-color 200ms, box-shadow 200ms;
	cursor: pointer;
}

input[type="checkbox"] {
	background-color: #ddd;
}

input[type="checkbox"]:checked {
	background-color: #dd0;
	box-shadow: 0px 0px 10px #ff0b;
}

@media (prefers-color-scheme: dark) {
	input[type="checkbox"] {
		background-color: #222;
	}

	input[type="checkbox"]:checked {
		background-color: #ff0;
	}
}

/* result message */

#win {
	color: #ff0;
	margin: 20px 0px;
	opacity: 0;
	scale: 0;
	transition: opacity 150ms, scale 150ms;
}

#win.visible {
	scale: 1;
	opacity: 1;
}

/* menu */

menu {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* button */

button {
	font-family: inherit;
	font-size: inherit;
	padding: 6px 10px;
	border: 2px solid CanvasText;
	background: none;
	/* defining "color" isn't nessecary anymore */
	cursor: pointer;
	border-radius: 8px;
}

button:hover,
button:focus-visible {
	box-shadow: 0px 0px 8px #33fa;
}

@media (prefers-color-scheme: dark) {
	button:hover,
	button:focus-visible {
		box-shadow: 0px 0px 8px #fffa;
	}	
}

button:active {
	scale: 0.95;
}

/* input */

input[type="number"] {
	/* removes up/down-number gizmo */
	appearance: textfield;
	font-family: inherit;
	background: none;
	/* defining "color" isn't nessecary anymore */
	font-size: inherit;
	border: 2px solid CanvasText;
	outline: none;
	text-align: center;
	padding: 6px;
	width: 50px;
}

input[type="number"]:focus:valid {
	border-color: green;
}

input[type="number"]:invalid {
	border-color: red;
}
